* {
    box-sizing: border-box;
}

/* everything I want it to be if it is smaller device */
body {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    background-color: #dddddd; /*#c5c6c7; #F2F2F2;*/
    color: #303030; /*#383838;*/
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
}

.container {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}


.roster-name {
   font-size: 1.75em;
   margin-top: 5px;
   margin-bottom: 5px;    
}

.roster-position {
    font-size: 1.25em;
    margin-top: 0px;
    margin-bottom: 5px;
}

.roster-vitals, .roster-hometown {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.roster-description {
    margin: 0px 40px 0px 40px;
    text-align: left;
}

ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
}

li {
    border-top-style: double;
}


h1 {
    font-variant: small-caps;
    font-size: 2.0em;
    color: #1F2833;
}

a {
    text-decoration: none;
    color: #1F2833;
}

a:hover {
    color: #123C69;
    font-weight: bolder;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header img {
    height: 100px;
    width: auto;
}

.roster-line-1  {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.roster-line-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.roster-description {
    display: hidden;
}

.roster-picture img {
   height: 300px; 
   margin: 0px 20px 0px 20px;
}

img {
    height: 300px;
    width: auto;
    margin: 20px;
    padding: 5px;
 }

.teamLogo {
    margin: 0px;
    padding: 0px;
}

.teamLogo img {
    width: 100%;
    height: auto;
    margin: 0px;
}

.floatPictureLeft img {
    margin: 10px;
    max-height: 300px;
    width: auto;
}

.floatPictureRight img {
    margin: 10px;
    max-height: 300px;
    width: auto;
}

.about p {
    text-align: left;
    padding: 0px 20px 0px 20px;
}

.teamBanner {
    display: none;
}

.hidden {
    display: none;
}

button {
    width: 80%;
    height: 75px;
    margin: 20px 20px 20px 20px;
    font-size: 1.5em;
    text-align: left;
    border-radius: 5px;
    border-width: 5px;
    background-color: #1f2833;
    color: #c5c6c7;
}

button:hover {
    background: #123C69;
  }
  

.dropdown {
    margin: 20px 0px 20px 0px;
}

select {
    width: 50%;
    height: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #5D5C61;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }

  tr:nth-child(even) {
    background-color: #c5c6c7;
  }

  .column-middle {
      text-align: center;
  }

@media screen and (min-width: 750px) {
    /* everything I want it to be if the screen is bigger */
    body {
       font-size: 20px;
       line-height: 1.5;
   }

   .container {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
   }
  
   .roster-line-2 {
    display: block;
    width: 100%;
   }

   .roster-picture {
       float: left;
   }
   
   .floatPictureLeft {
    float: left;
}

.floatPictureRight {
    float: right;
}

.roster-description {
    display: block;
}

   .teamBanner {
        display: block;
        margin: 0px;
        padding: 0px;
   }

   .teamBanner img {
        width: 100%;
        height: auto;
        margin: 20px 0px 20px 0px;
   }
}