* {
    box-sizing: border-box;
}

/* everything I want it to be if it is smaller device */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #F2F2F2;
    color: #383838;
    line-height: 1.2;
}

.container {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.roster-name {
   font-size: 1.75em;
   margin-top: 5px;
   margin-bottom: 5px;    
}

.roster-position {
    font-size: 1.25em;
    margin-top: 0px;
    margin-bottom: 5px;
}

.roster-vitals, .roster-hometown {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.roster-description {
    margin: 0px 40px 0px 40px;
    text-align: left;
}

ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

li {
    border-top-style: double;
}

.roster-line-1  {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.roster-line-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.roster-description {
    display: hidden;
}

img {
   height: 200px; 
   margin: 0px 20px 0px 20px;
}

.floatPictureLeft {
    float: left;
    margin: 10px;
}

.floatPictureRight {
    float: right;
    margin: 10px;
}

.about p {
    text-align: left;
    padding: 0px 20px 0px 20px;
}

.teamBanner {
    display: none;
}

.hidden {
    display: none;
}

button {
    width: 100%;
    height: 100px;
}

.dropdown {
    margin: 20px 0px 20px 0px;
}

select {
    width: 50%;
    height: 50px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .column-middle {
      text-align: center;
  }

@media screen and (min-width: 750px) {
    /* everything I want it to be if the screen is bigger */
    body {
       font-size: 20px;
       line-height: 1.5;
   }

   .container {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
   }
  
   .roster-line-2 {
    display: block;
    width: 100%;
   }

   .roster-picture {
       float: left;
   }
   
   .roster-description {
       display: block;
   }

   .teamBanner {
       display: block;
   }
 
}