* {
    box-sizing: border-box;
}

/* everything I want it to be if it is smaller device */
body {
    font-family: "Raleway", sans-serif;
	font-weight: 400;
    font-style: normal;
    line-height: 26px;
    font-size: 18px;
    background-color: #dddddd; /*#c5c6c7; #F2F2F2;*/
    color: #303030; /*#383838;*/
}

.container {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.roster-name {
   font-size: 1.75em;
   margin-top: 5px;
   margin-bottom: 5px;    
}

.roster-position {
    font-size: 1.25em;
    margin-top: 0px;
    margin-bottom: 5px;
}

.roster-vitals, .roster-hometown {
    margin-top: 0px;
    margin-bottom: 3px;
}

.roster-description {
    margin: 0px 20px 0px 20px;
    text-align: left;
}

ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
}

li {
    border-top-style: double;
}


h1 {
    font-variant: small-caps;
    font-size: 2.0em;
    color: #1F2833;
}

a:hover {
    font-weight: bolder;
    font-size: 1.1em;
}

a img {
    display: block;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.team-information {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 10px 20px;
}

.team-vitals {
    display: flex;
    flex-direction: column;
}

.team-vitals p {
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.team-socialmedia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.team-socialmedia img {
    height: 50px;
    width: auto;
    margin: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header img {
    height: 100px;
    width: auto;
}

.roster-line-1  {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.roster-line-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.roster-line-2 a {
    text-align: center;
    color: #123C69;
    text-decoration: underline;
    font-variant: small-caps;
}

.expando {
    display: none;
}

.expando:target {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.roster-picture img {
   height: 300px; 
   margin: 0px 20px 0px 20px;
}

img {
    height: 300px;
    width: auto;
    margin: 20px;
    padding: 5px;
 }

.teamLogo {
    margin: 0px;
    padding: 0px;
}

.teamLogo img {
    width: 100%;
    height: auto;
    margin: 0px;
}

.floatPictureLeft img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.floatPictureRight img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.about p {
    text-align: left;
    padding: 0px 20px 0px 20px;
}

.teamBanner {
    display: none;
}

.hidden {
    display: none;
}

button {
    width: 80%; 
    height: 75px;
    margin: 20px 20px 20px 20px;
    font-size: 1.5em;
    text-align: left;
    border-radius: 5px;
    border-width: 5px;
    background-color: #1f2833;
    color: #c5c6c7;
}

button:hover {
    background: #123C69;
  }
  

.dropdown {
    margin: 20px 0px 20px 0px;
}

select {
    width: 50%; 
    height: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #5D5C61;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }

  tr:nth-child(even) {
    background-color: #c5c6c7;
  }

  .column-middle {
      text-align: center;
  }

@media screen and (min-width: 750px) {
    /* everything I want it to be if the screen is bigger */

    body {
        line-height: 30px;
        font-size: 22px;
    }

    .container {
        margin: 0 auto;
        padding: 0;
        max-width: 1000px;
    }

    .team-information {
        display: flex;
        flex-direction: row;
    /*    width: 100%;  */
    }

    .team-vitals {
        width: 50%;
    }

    .team-socialmedia {
        justify-content: flex-end;
        width: 50%;
    }
    
    .roster-picture {
       float: left;
    }
   
    .floatPictureLeft {
        float: left;
    }

    .floatPictureRight {
        float: right;
    }

    .roster-line-2 a {
       display: none;
    }
    
    .roster-line-2 {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .expando {
        display: block;
    }

    .teamBanner {
        display: block;
        margin: 0px;
        padding: 0px;
    }

    .teamBanner img {
        width: 100%;
        height: auto;
        margin: 20px 0px 20px 0px;
    }
}